# Prerequisites
*.d
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
### Eclipse ###
Buttons and Switches/.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
Buttons and Switches/.metadata/.log

*.xml
*.index
*.log
*.pdsbak
*.list
*.Mkfile
*.history
Buttons and Switches/Buttons and Switches/Button_and_switches.pdsprj.TUF-F15.ADMIN.workspace
*.bin
Buttons and Switches/Buttons and Switches/Debug/Core/Src/subdir.mk
Buttons and Switches/Buttons and Switches/Lab3.pdsprj.TUF-F15.ADMIN.workspace
*.snap
*.resources
*.xmi
